<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar *ngIf = "categoryImage"> 
         <img [src] = "categoryImage"> 
      </div>
      <mat-card-title>
        <select [(ngModel)]= "cat" > <!--Lets you save the user's choice-->
          <option value={{category}}>{{category}}</option>
          <option value="business">Business</option>
          <option value="entertainment">Entertainment</option>
          <option value="politics">Politics</option>
          <option value="sport">Sport</option>
          <option value="tech">Tech</option>
        </select>
      </mat-card-title>
      <mat-card-subtitle>classification result</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{classifyService.doc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="myFunc(cat)"> Save </button>
    </mat-card-actions>
  </mat-card>

