<!-- this form displays data from json-->

<div ng-controller="myCtrl">
<!-- <p>{{ans}}</p>-->
</div>   
<mat-accordion>
    <mat-expansion-panel *ngFor = "let main of mains$">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{main.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      {{main.body}}     
    </mat-expansion-panel>
  </mat-accordion>

