<div *ngIf = "(authService.user | async)?.uid" >
  <div class="example-button-row">
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/generalform'">
       Add general
    </button>
  </div>
  <p *ngIf="!(generals$ | async)">loading generals...</p>
  <mat-accordion >
      <mat-expansion-panel *ngFor = "let general of generals$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{general.title}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        At: {{general.room}} 
      <br>
      On: {{general.date.toDate() | date:'mediumDate'}}
      <br>
          <button mat-raised-button 
                  color="primary"
                  (click) = deleteGeneral(general.id)>
            Delete
          </button> 
          <button 
          mat-raised-button color="primary"
          [routerLink]="'/generalform/'+general.id">
            Edit
          </button>        
      </mat-expansion-panel>
    </mat-accordion>
</div>
  